{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">About Shubham Atkal</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello Viewers, Myself Shubham Atkal , I am a student and Currently Pursuing My BS degree in Data Science
          from IIT Madras, I like to read About Technology , History
          And i am hobbiest Photographer. I hope You will find this blog interesting, Please let me know your thoughts
          by registering yourself on These
          Website and commenting on My posts , Your comments are welcomed and I will be checking them very
          frequently. Thanks and Have a good day.
        </p>
        <p>
          Here are some links where You can reach me :
          <a href="https://www.instagram.com/shubham.jpeg_/">Instagram</a>
          <a href="https://github.com/shubhamatkal">Github</a>
          <a href="https://www.linkedin.com/in/shubham-atkal-66b87a242/">Linkedin</a>
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
